body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 img {
  width: 100%;
}

img.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}  

.card {
  width: 100%;
  margin: 10px auto;
}

span {
  padding-left: 20px;
  font-weight: bolder;
}

hr {
  width: 80%;
  margin: 10px auto;
  border: 2px solid #fff;
  background-color: #fff;
  color: #fff;
}

.learnstate {
  background-color: #ccd5df;
 
  padding: 25px;
}

.btn-primary {
  margin: 15px auto;
  
  font-size: 20px;
}

.card-header {
  font-size: 25px;
}

